@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-xs: 26rem; /* 416px */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-home: #191D0E;
  --color-homenav: #274E82;
  --color-homenav-alt: #A53860;
  --color-about: #0E1D1D;
  --color-aboutnav: #34600E;
  --color-aboutnav-alt: #CE8333;
  --color-projects: #1D1D0E;
  --color-projectsnav: #D0653A;
  --color-projectsnav-alt: #568203;
  --color-blog: #1D0E1A;
  --color-blognav: #666666;
  --color-blognav-alt: #800080;
  --color-contact: #121D0E;
  --color-contactnav: #610A70;
  --color-contactnav-alt: #274E82;
  --color-primary: #E0D230;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-chakra-petch: 'Chakra Petch', sans-serif;
  --font-bungee: 'Bungee', cursive;
  --font-istok-web: 'Istok Web', sans-serif;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
